

form{
   text-align:center;
    background-color: white;
    width:40%;
    margin:auto;
    padding:10px;
    border:50px solid #e3f2fd;
    box-shadow:10px 5px 5px black;
    
}
textarea{
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    width:80%;
    background-color:#e3f2fd;
}

input[type=text]{
    background-color:#e3f2fd;
    border:0;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    width:80%;
}
input[type=submit]{
    background-color:#e3f2fd;
    border:0;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    width:80%;
}
input[type=number]{
    background-color:#e3f2fd;
    border:0;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    width:80%;
}

input[type=email]{
    background-color:#e3f2fd;
    border:0;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    width:80%;
}

input[type=url]{
    background-color:#e3f2fd;
    border:0;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    width:80%;
}

input[type=tel]{
    background-color:#e3f2fd;
    border:0;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    width:80%;
}


form > a{
   
    background-color: #e3f2fd;
    width:80px;
    text-decoration:none;
}

body > h1{
    margin-left:20px;
}

p{
    margin-left:20px;
}

img{
    width: 60%;
    display:block;
    margin:auto;
    margin-left:50px;
    margin-top:50px;
}