*{
    margin:0;
    padding:0;
}
img{
    width: 60%;
    display:block;
    margin:auto;
}

p{
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
}

h1,h2,h3,h4,h5,h6{
    margin-left:20px;
}

ul{
    margin-left:40px;
}


